/* 
bootstrap toast */

.toast-container {
  top: 30px !important;
  z-index: 9999;
}
.toast {
  display: unset !important;
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 1;
}
.fade {
  opacity: 1 !important;
}
